@charset "ISO-8859-1";
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

}
.navbar-text {
  margin-left: 30%;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.container-fluid {
  padding: 0;
}

.logout-btn {
  float: left;
  display: flex;
  margin-right: 1em;
}
#user-show {
  font-style: italic;
  font-weight: bold;
  opacity: 0.75;
}
.input-details {
  padding-top: 1rem;
  width: 50%;
  margin-left: 1em;
}
.col-form-label {
  font-weight: bold;
}

#input-detail-text {
  font-weight: bold;
  margin-bottom: 5px;
}
.browse-btn {
  float: right;
}
.table-data{
  text-align: center;
  vertical-align: middle;
}
.table-heading{
  text-align: center;
}

