@charset "ISO-8859-1";
body{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
  
}


.btn{
    float: right;
    display: flex;
}

#header-section{
 
    margin-top: 10rem;
    padding: 10px;
}

#middle-section{
    margin-top: 16px;
}

#forgot-password{
    text-align: center;
}

a{
    font-style: italic;
    text-decoration: none;
}
.navbar-text{
    margin-left: 30%;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.col-form-label {
    font-weight: bold;
  }
  
